body {
    font-family: Calibri, sans-serif;
    background-color: #B4C6A6;
}

#container {
    text-align: center;
}

table {
    border-collapse: collapse;
    font-size: 2em;
    margin-top: 50px;
    margin-left: 500px;
}

colgroup,
tbody {
    border: solid medium;
}

td {
    border: solid thin;
    height: 1.4em;
    width: 1.4em;
    text-align: center;
    padding: 0;
}

#solve-button {
    margin-bottom: 10px;
    font-size: 1.5em;
    background-color: #B4C6A6;
}

#clear-button {
    font-size: 1.5em;
    background-color: #B4C6A6;
}