div {
    background-color: #CEE5D0;
    align-self: stretch;
    padding-top: 300px;
    padding-left: 700px;
}

body {
    margin: 0;
}

h1 {
    color: #483434;
    margin-top: 0px;
    margin-bottom: 0px;
}

p {
    padding-left: 25px;
    size: 23px;
    ;
}

.top-container {
    background-color: #D8E9A8;
    margin-top: 0px;
    height: 200px;
    width: 900px;
}

.middle-container {
    background-color: #6B4F4F;
    height: 150px;
    width: 900px;
}